<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246367509899-11r7epb7deq461jke5v5m2soc8r7crgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246367509899-11r7epb7deq461jke5v5m2soc8r7crgu</string>
	<key>API_KEY</key>
	<string>AIzaSyAjG_DSEc9M3TwkrACuKftznrWolGpvAtE</string>
	<key>GCM_SENDER_ID</key>
	<string>246367509899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randomizador</string>
	<key>PROJECT_ID</key>
	<string>dsi-2021-2</string>
	<key>STORAGE_BUCKET</key>
	<string>dsi-2021-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246367509899:ios:4fa2d773dd16e2ca1b638e</string>
</dict>
</plist>